@import "variables.scss";

.quake {
    margin: 30px;
    padding: 30px;
    background: $transparent-bkg;
    border: 1px $white solid;   
}
.button-wrap {
    text-align: center;
    padding-bottom: 30px;
}
tr {
	border-bottom: 30px transparent solid;
}